{% extends 'base.html.twig' %}

{% block title %}page-crudSmarthphone{% endblock %}

{% block body %}

<h4 class="text-center text-warning mt-5"> page de gestion ordinateur</h4>
<div class="container">
<div class="grid">
<h4> formulaire Modifier Ordinateur</h4>
{{ form_start(formordinateur) }}


{{ form_end(formordinateur) }}
</div>
</div>
{% endblock %}