{% extends 'base.html.twig' %}

{% block title %}page-crudSmarthphone{% endblock %}

{% block body %}
  <h4 class="text-center text-warning mt-5"> page de gestion Accessoire</h4>
<div class="container">
<div class="grid">
<h4> formulaire Modfiier Accessoire</h4>
{{ form_start(formAccessoire)}}


{{ form_end(formAccessoire)}}
</div>
</div>

{% endblock %}