{% extends 'base.html.twig' %}

{% block title %}page-crudSmarthphone{% endblock %}

{% block body %}

<div class="container">
<div class="grid">
<h4> formulaire Creation nouveau SmartPhone</h4>

{{ form_start(formsmartPhone) }}


{{ form_end(formsmartPhone) }}
<d/iv>
</div>
{% endblock %}