<!-- Footer -->
<footer class="text-center text-lg-start text-muted  footerstyle">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block "><span class="text-secondary ">Rejoignez-nous sur les réseaux sociaux:</span></div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset "> <i class="fab fa-facebook-f text-primary"></i> </a>
      <a href="" class="me-4 text-reset "> <i class="fab fa-twitter text-info"></i></a>
      <a href="" class="me-4 text-reset "><i class="fab fa-google  text-danger"></i></a>
      <a href="" class="me-4 text-reset"><i class="fab fa-github text-light"></i></a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>ISk-TECH</h6>
          <p class="text-footer">Nos services s’adressent à une clientèle préférablement professionnelle et diversifiée :  </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 titre-footer"> Products</h6>
          <p><a href="#!" class=" text-footer">Téléphone portable </a></p>
          <p><a href="#!" class=" text-footer">Ordinateurs portable</a></p>
          <p><a href="#!" class=" text-footer">Accessoire</a></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 titre-footer">Marques de nos produits</h6>
          <p><a href="#!" class=" text-footer">Appel</a></p>
          <p><a href="#!" class=" text-footer">Samsung</a></p>
          <p><a href="#!" class=" text-footer">HP</a></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 titre-footer">Contact</h6>
          <p class="text-footer"><i class="fas fa-home me-3 text-footer"></i> 35 Rue Sambin 21000 Dijon</p>
          <p class="text-footer"><i class="fas fa-envelope me-3 text-footer"></i>isk2Tech@gmail.com</p>
          <p class="text-dark"><i class="fas fa-phone me-3 text-warning"></i> + 07 49 55 31 21</p>
          <p class="text-dark"><i class="fas fa-print me-3 text-warning"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">© 2023 Copyright:
    <a class=" fw-bold text-footer" href="https://mdbootstrap.com/">ISK2TECH</a>
  </div>
  <!-- Copyright --></footer>
<!-- Footer -->