{% extends 'base.html.twig' %}

{% block title %}formulaire email{% endblock %}

{% block body %}
   
<div class=" container ">
<h4> formulaire de contact </h4>
  {{form_start(formEmail)}}

  {{form_end(formEmail)}}
</div>

{% endblock %}
